.columns_container {
    position: relative;
}
.second_column {
    position: absolute;
    width: 100%;

    top: 60%;

    @media screen and (max-width: 768px) {
        position: unset;
        top: unset;
    }
}

.background_photo {
    background-image: url('/media/services/contact-us.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    
}
