.card_layout {
    .header_s {
        height: 50px;
    }

    .content_s {
        height: auto;
    }

    // .content_s {
    //     margin: 1.5rem 0;
    // }

    .footer_s {
        height: 50px;
    }
}
