@import './vars.scss';

/* *~~*~~*~~*~~*~~* NAVBAR *~~*~~*~~*~~*~~* */

$navbar-item-img-max-height: 3.5rem;
$navbar-height: 5rem;

/* *~~*~~*~~*~~*~~* INPUT *~~*~~*~~*~~*~~* */

$input-focus-border-color: $light-purple;
$input-focus-box-shadow-color: rgba($light-purple, 0.25);
$input-placeholder-color: rgba(white, 0.5) !important; ;
/* *~~*~~*~~*~~*~~* BUTTONS *~~*~~*~~*~~*~~* */

$button-focus-color: $light-purple;
$button-focus-border-color: $light-purple;
$button-focus-box-shadow-color: rgba($light-purple, 0.25);

/* *~~*~~*~~*~~*~~* DROPDOWN *~~*~~*~~*~~*~~* */
$dropdown-content-background-color: black !important;
$dropdown-content-arrow: white !important;
