@import './src/components/commons/navbar/navbar.scss';
@import './src/components/commons/footer/footer.scss';
@import 'pages/mint/mint.scss';
@import 'pages/referral-program/referral.scss';
@import 'src/components/base/team-card/team-card.scss';
@import 'pages/multichain/multichain.scss';
@import 'pages/multichain/table.scss';

.has-shadow {
    box-shadow: 0 5px rgba(239, 208, 255, 0.5) !important;
}
