@import './src/components/commons/navbar/navbar.scss';
@import './src/components/commons/footer/footer.scss';
@import 'pages/ico/ico.scss';
@import 'pages/referral-program/referral.scss';
@import 'src/components/base/team-card/team-card.scss';
@import 'pages/multichain/multichain.scss';
@import 'pages/multichain/table.scss';
@import 'pages/token/chart.scss';
@import 'pages/services/contact-us-box/contact-box.scss';
@import 'pages/services/our-projects-section/styles.scss';
@import 'src/components/slider/slider.scss';



.has-shadow {
    box-shadow: 0 5px rgba(239, 208, 255, 0.5) !important;
}
