@import './vars';

/* width */
.coolscroll::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
.coolscroll::-webkit-scrollbar-track {
    background: $primary;
}

/* Handle */
.coolscroll::-webkit-scrollbar-thumb {
    background: $light-purple;
    border-radius: 10px;
}

/* Handle on hover */
.coolscroll::-webkit-scrollbar-thumb:hover {
    background: rgba(rgba(255, 255, 255, 0.2), 0.6);
}

.coolscroll-small::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.coolscroll-small::-webkit-scrollbar-track {
    background: $primary;
    border-radius: 10px;
}

.coolscroll-small::-webkit-scrollbar-thumb {
    background: $light-purple;
    border-radius: 10px;
}

.coolscroll-small::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(0deg, rgba($primary, 0.75) 0%, rgba($dark, 0.75) 100%);
}
